body {
  background-color: #F1F1F1;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
#cuerpo-canal{
  background-color: #F1F1F1;
  padding: 0 20px;	
}
#intro-canal{
	background-color: white;
	margin-bottom: 15px;
	padding: 10px 20px;
}

#perfil{
	background-color: #EF113A;
	margin-top: 0px;
	padding-top: 0px;
	height: 120px;
	width: 100%;

}

#canal-suscripciones{
	background-color: white;
	margin-bottom: 2px;
	padding: 10px 20px;
}
#canal-videos-subidos{
	background-color: white;
	margin-bottom: 2px;
	padding: 10px 20px;
}
#listas-creadas{
	background-color: white;
	margin-bottom: 2px;
	padding: 10px 20px;
}
#videos-favoritos{
	background-color: white;
	margin-bottom: 2px;
	padding: 10px 20px;
}
#listas-guardadas {
	background-color: white;
	margin-bottom: 2px;
	padding: 10px 20px;
}
