#lista{
	background-color: white;
	padding-top: 5px;
	padding-bottom: 8px
}

.container{
	background-color: #F1F1F1;
}

#info-video{
	height: 150px;
	padding: 15px;
}
#compartir-video{
	height: 120px;
	padding: 15px;
	display: none;
}
#info-publicacion{
	height: 90px;
	padding: 15px;
}
#comentarios{
	padding: 15px;
}
.float-right{
	float: right;
}
.float-left{
	float: left;
}
.descripcion span{
	margin-top: 0px;
	padding-top: 0px;
}
#lista div{
	padding: 10px;
}
.letra-comentario{
	font-size: 10px;
}