hr{
	height: 5px;
	color: black;
}
.container{
	background-color: white;
	margin-top: 20px;
	margin-bottom: 95px;
}
.segmentos{
	margin-top: 30px;
	margin-bottom: 15px;
}
.barra2 a{
	margin: 0px;
	padding: 0px;
	 
}

.barra2{
	height: 35px;
	background-color: white;
	width: 100%; 
}

body {
  background-color: #F1F1F1;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}

.reiniciar{
	padding: 0px;
	margin: 0px;
}

.logo-youtube{
	height: 35px;
}


.barra-superior{
	background-color: white;
	border-bottom: 1px solid #F1F1F1 ;
	height: 60px;
	padding: 15px 5px 3px 10px;
}

.etiquetas{
	background-color: white;
}
.barra-inferior{
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  padding: 1rem;
  background-color: white;

}
#logo-sm{
	width: 30px;
}

#icono-menu{
	color: grey;
}

#icono-menu:hover{
	color: black;
}


.HLista{
	float: clear;
	margin: 0px 5px 5px 0px;
	padding: 0px 5px 3px 0px;
}
.HLista li{
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
}

.HLista hr{
	padding: 5px;
	margin: 0px
	}

.HLista2{
	float: clear;
	margin: 0px 5px 5px 0px;
	padding: 0px 5px 0px 0px;
}
.HLista2 li{
	font-size: 12px;
	font-weight: bold;
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
	color: #474545;
}
.HLista3{
	float: clear;
	margin: 0px 5px 5px 0px;
	padding: 0px 5px 3px 0px;
}
.HLista3 li{
	font-size: 11px;
	display: inline;
	margin: 0px 5px 0px 5px;
	padding: 0px 5px 0px 5px;
	color: #737373;
}

/*apartir de aqui solo estan las clases que pertenecen a usuarios registrados*/
.alertas{
	margin-right: 50px;
}
.margin{
	margin: 15px;
}