#nav{
	height: 220px;
	background-color: white;
}
#nav p{
	padding-top: 15px;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
}
#nav ul{
	list-style-type: none;
	margin:0;
	padding: 0;
	overflow: hidden;
	background-color: white;
	font-size: 11px;
}

#nav ul li a{
	display: block;
	color: black;
	text-align: center;
	padding : 10px 5px;
	text-decoration: none;
	border-left: 1px solid grey;
	border-height: 2px;
}
#nav ul li a:hover{
	text-decoration: #F1F1F1; 
}

.activo{
	background-color:#CC2626;
}

#informacion{
	background-color: white;
	padding: 40px; 
}
#informacion-hd{
	padding: 30px;
	padding-bottom: 2px;
}
#informacion-hd button{
	float: right;
}

#informacion-hd span{
	text-align: left;
	font-weight: bold;
	font-size: 17px;
}
#informacion-hd{
	padding-top: 15px;
	margin-left: 15px;
}
.container{
	background-color: #F1F1F1;
}
h4{
	font-weight: bold;
}

.oculto{
	display: none;
}

.input{
	margin: 0px;
	margin-bottom: 5px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075);
}
.error{
	border-color: #a94442;
}
.input:disabled{
	background-color: #eee;
    opacity: 1;
}
#guardar-div{
	padding-top: 10px;
}