#encabezado{
	background-color: #F1F1F1;
	height: 70px;
	border-bottom: 2px solid #E5E5E5;
}

#img-1{
	float: left;
	margin:10px 15px;
	width: 100px;
}

#btn-1{
	float: right;
	margin:15px 15px;
}	

#titulo{
	margin-top: 60px;
	text-align: center;

}

.formularioCss{
	width: 370px;
	background-color: #F1F1F1;
	float: right;
	

}
a{
	padding: 0px;
	margin: 0px;

}

.btn-2{
	float: right;
	margin-top: 10px;
}
.input{
	margin: 0px;
	margin-bottom: 5px;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.5;
	color: #555;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.075);
}
.error{
	border-color: #a94442;
}
