#icono-enfermo{
	margin-top: 30px;
}
#icono-enfermo img{
	width: 500px;
}
#mensaje{
	padding: 13px;
	margin-top: 15px;
	width: 100%;
	height: 100px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}